In [1]:
import pandas as pd

In [2]:
population = (
{
'Country': ['Belgium', 'India', 'Japan'],
'Population': [12345, 67891011, 98765]
})

In [6]:
dados = pd.DataFrame(population)

In [4]:
dados

   Country  Population
0  Belgium       12345
1    India    67891011
2    Japan       98765

In [7]:
paises = {'Belgium':'Bélgica', 'India':'Índia', 'Japan':'Japão'}
dados.Country = dados.Country.map(paises)
dados

   Country  Population
0  Bélgica       12345
1    Índia    67891011
2    Japão       98765

In [8]:
colunas = {'Country':'País', 'Population':'População'}
dados = dados.rename(columns=colunas)
dados

      País  População
0  Bélgica      12345
1    Índia   67891011
2    Japão      98765